/.next
/.vscode
node_modules
/node_modules
/zyraview-lib
/zyraview-admin-app
.env.local
.env
/scripts
/server
/admin-app
/test
/todo
/backup-sensitive-data
/backup-migration
.zyraview-lib
/scripts
/.md
/md

.env.local
backup-sensitive-data
backup-migration
/scripts
